# Source file for requirements.txt
#
# I'm using https://github.com/jazzband/pip-tools to manage these files.
#
# To upgrade packages in requirements.txt run something like:
# pip-compile --upgrade-package certifi --upgrade-package cattrs

attrs
cattrs
# Hold back from upgrading major version for now. Name search bug
# https://github.com/flask-admin/flask-admin/issues/1929 isn't fixed but it broken behaviour isn't happening in dev.
flask-admin==1.6.1
geojson>=2.4.1
SQLAlchemy-Continuum
Flask
# Next flask-sqlalchemy release (3.1.0) has minimum SQLAlchemy version 2.0.16, https://flask-sqlalchemy.readthedocs.io/en/stable/changes/
flask-sqlalchemy==3.0.5
Flask-Markdown
Flask-Migrate
Flask-WTF
shapely
flask-pagedown
GeoAlchemy2
polyline
psycopg2-binary
uritemplate
blinker
flask-login
flask_dance
sqlalchemy
pytest
python-akismet
pip-tools
humanize  # To format times
more-itertools
markdownify
beautifulsoup4
sortedcontainers
geopy

prefect

# For testing:
freezegun
responses
pytest-mock
testfixtures
