# Source file for requirements.txt
#
# I'm using https://github.com/jazzband/pip-tools to manage these files.
#
# To upgrade packages in requirements.txt run something like:
# pip-compile --upgrade-package certifi --upgrade-package cattrs

attrs
cattrs
# Using a branch with my work-around until https://github.com/flask-admin/flask-admin/issues/2351 is fixed with
# additional fix for https://github.com/flask-admin/flask-admin/issues/1929 merged in.
flask-admin @ git+https://github.com/TomGoBravo/flask-admin@efe274cc47f213503d8f94d8ca86cd47c63fcb41
geojson>=2.4.1

# Use head as of 2023-08-27 to get fix for https://github.com/kvesteri/sqlalchemy-continuum/issues/322 because it
# hasn't been released yet.
SQLAlchemy-Continuum @ git+https://github.com/kvesteri/sqlalchemy-continuum@a7a6bd7952185b1f82af985c0271834d886a617c
Flask
Flask-SQLAlchemy
Flask-Markdown
Flask-Migrate
Flask-WTF
shapely
flask-pagedown
GeoAlchemy2
polyline
psycopg2-binary
uritemplate
blinker
flask-login
flask_dance
sqlalchemy
pytest
python-akismet
pip-tools
humanize  # To format times
more-itertools
markdownify
beautifulsoup4
sortedcontainers
geopy

prefect

# For testing:
freezegun
responses
pytest-mock
