alembic==1.0.7
atomicwrites==1.3.0
attrs==18.2.0
blinker==1.4
certifi==2018.11.29
chardet==3.0.4
Click==7.0
Flask==1.1.1
git+https://github.com/TomGoBravo/flask-admin@leaflet-control-geocoder-nocustomtiles#egg=Flask-Admin
Flask-Dance==1.4.0
Flask-Login==0.4.1
Flask-Markdown==0.3
Flask-Migrate==2.4.0
Flask-PageDown==0.4.0
Flask-SQLAlchemy==2.5.1
GeoAlchemy2==0.10.1
geojson==2.4.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
lazy==1.4
Mako==1.0.7
Markdown==3.0.1
MarkupSafe==1.1.1
more-itertools==6.0.0
oauthlib==3.0.1
pluggy==0.9.0
polyline==1.3.2
psycopg2==2.7.7
py==1.8.0
pytest==4.3.0
python-dateutil==2.8.0
python-editor==1.0.4
requests==2.21.0
requests-oauthlib==1.2.0
Shapely==1.6.4.post2
six==1.12.0
SQLAlchemy==1.4.29
SQLAlchemy-Continuum==1.3.7
SQLAlchemy-Utils==0.38.2
uritemplate==3.0.0
urllib3==1.26.5
URLObject==2.4.3
uWSGI==2.0.18
Werkzeug==1.0.1
WTForms==2.3.3
