# Source file for requirements.txt
#
# I'm using https://github.com/jazzband/pip-tools to manage these files.
#
# To upgrade packages in requirements.txt run something like:
# pip-compile --upgrade-package certifi --upgrade-package cattrs

attrs
cattrs
git+https://github.com/TomGoBravo/flask-admin@leaflet-control-geocoder-geoatileattributionurl#egg=Flask-Admin
geojson>=2.4.1
SQLAlchemy-Continuum
Flask
Flask-SQLAlchemy
Flask-Markdown
Flask-Migrate
Flask-WTF
shapely
flask-pagedown
GeoAlchemy2
polyline
psycopg2-binary
uritemplate
blinker
flask-login
flask_dance
sqlalchemy
pytest
pip-tools
humanize  # To format times
more-itertools
markdownify
beautifulsoup4
sortedcontainers
geopy

prefect

# For testing:
freezegun
responses
