{% extends "layout.html" %}

{% block htmltitle %}UWHT: Comments{% endblock %}

{% block sidedrawercontent %}
<ul>
<li><a class="mui-btn" href="/tourist/">Home</a></li>
<li><a class="mui-btn" href="/tourist/map">Map</a></li>
<li><a class="mui-btn" href="/tourist/list">List all</a></li>
<li><a class="mui-btn" href="/tourist/about">About</a></li>
{% if current_user.is_authenticated -%}
    <li><a class="mui-btn" href="{{ url_for('github.logout', next=request.url) }}">Sign out</a></li>
{%  else %}
    <li><a class="mui-btn" href="{{ url_for('github.login', next=request.url) }}">Sign in</a></li>
{% endif -%}
</ul>
{% endblock %}

{% block headertitle %}Comments{% endblock %}

{% block content %}
{% for comment in comments %}<hr>
<a href="{{comment.place.path}}">{{comment.place.name}}</a><br>
{{ place_comment(comment) }}
{% endfor -%}
{% endblock %}
