{% extends "layout.html" %}
{% set menu_active = "" %}

{% block htmltitle %}UWHT: Delete {{club.name}}{% endblock %}

{% block headertitle %}Delete {{ club.name }}{% endblock %}

{% block content %}

<p>
Confirm that you intend to delete
{% for p in club.parent.parents|reverse -%}
<a href="{{ p.path }}">{{ p.name }}</a> &gt;
{% endfor -%}
    {{club.parent.name}} &gt; {{ club.name }}.
</p>

<form class="mui-form" method="POST" action="/tourist/delete/club/{{ club.id }}">
    {{ form.hidden_tag() }}
    Confirm delete: {{ form.confirm }}<br>
    <input type="submit" value="Delete" class="mui-btn mui-btn--raised mui-btn--primary">
</form>

{% endblock %}
