{% extends "layout.html" %}

{% block htmltitle %}UWHT: Delete {{place.name}}{% endblock %}

{% block sidedrawercontent %}
<ul>
<li><a class="mui-btn" href="/tourist/">Home</a></li>
<li><a class="mui-btn" href="/tourist/map">Map</a></li>
<li><a class="mui-btn" href="/tourist/list">List all</a></li>
<li><a class="mui-btn" href="/tourist/about">About</a></li>
{% if current_user.can_view_comments -%}<li><a class="mui-btn" href="/tourist/comments">Comments</a></li>{% endif -%}
{% if current_user.is_authenticated -%}
    <li><a class="mui-btn" href="{{ url_for('github.logout', next=request.url) }}">Sign out</a></li>
{%  else %}
    <li><a class="mui-btn" href="{{ url_for('github.login', next=request.url) }}">Sign in</a></li>
{% endif -%}
</ul>
{% endblock %}

{% block headertitle %}Delete {{ place.name }}{% endblock %}

{% block content %}

{% if place.child_places %}
<p>
    {{ place.name }} can not be deleted while the following child places exist:
    <ul>
    {% for p in place.child_places %}<li><a href="{{p.path}}">{{ p.name }}</a></li>{% endfor %}
    </ul>
</p>
{% else %}
<p>
Confirm that you intend to delete
{% for p in place.parents|reverse -%}
<a href="{{ p.path }}">{{ p.name }}</a> &gt;
{% endfor -%}
    {{ place.name }}.
</p>

<p>
    This will also delete:
<ul>
<li>Clubs:<ul>
{% for club in place.child_clubs %}
<li>{{ club.name }}</li>
{% endfor %}
</ul>
</li>

<li>Pools:<ul>
    {% for pool in place.child_pools %}
    <li>{{ pool.name }}</li>
    {% endfor %}
</ul>
</li>
</ul>
</p>

<form class="mui-form" method="POST" action="/tourist/delete/place/{{ place.id }}">
    {{ form.hidden_tag() }}
    Confirm delete: {{ form.confirm }}<br>
    <input type="submit" value="Delete" class="mui-btn mui-btn--raised mui-btn--primary">
</form>
{% endif %}

{% endblock %}
