{% extends "layout.html" %}
{% set menu_active = "" %}

{% block htmltitle %}UWHT: Delete {{pool.name}}{% endblock %}

{% block headertitle %}Delete {{ pool.name }}{% endblock %}

{% block content %}

{% if pool.club_back_links %}

{{ pool.name }} can not be deleted while there are links to it from club(s)<ul>
    {% for club_at_pool in pool.club_back_links -%}
    <li>{{ club_at_pool.name }}</li>
    {% endfor %}
</ul>

{% else %}
<p>
Confirm that you intend to delete
{% for p in pool.parent.parents|reverse -%}
<a href="{{ p.path }}">{{ p.name }}</a> &gt;
{% endfor -%}
    {{pool.parent.name}} &gt; {{ pool.name }}.
</p>

<form class="mui-form" method="POST" action="/tourist/delete/pool/{{ pool.id }}">
    {{ form.hidden_tag() }}
    Confirm delete: {{ form.confirm }}<br>
    <input type="submit" value="Delete" class="mui-btn mui-btn--raised mui-btn--primary">
</form>
{% endif %}

{% endblock %}
