{% extends "layout.html" %}

{% block htmltitle %}UWHT: List all{% endblock %}

{% block sidedrawercontent %}
<ul>
<li><a class="mui-btn" href="/tourist/">Home</a></li>
<li><a class="mui-btn" href="/tourist/map">Map</a></li>
<li><a class="mui-btn" href="/tourist/about">About</a></li>
{% if current_user.is_authenticated -%}
    <li><a class="mui-btn" href="{{ url_for('github.logout', next=request.url) }}">Sign out</a></li>
{%  else %}
    <li><a class="mui-btn" href="{{ url_for('github.login', next=request.url) }}">Sign in</a></li>
{% endif -%}
</ul>
{% endblock %}

{% block headertitle %}List all{% endblock %}

{% block content %}

<ul>
{% for p in world.child_places recursive %}
  <li><a href="{{ p.path }}">{{ p.name }}</a>{% if p.area == 0 %} (please add region){% endif %}
      {% if p.child_clubs %}<br> Clubs: {% for c in p.child_clubs %} {{ c.name }} {% endfor %} {% endif %}
      {% if p.child_pools %}<br> Pools: {% for pl in p.child_pools %} {{ pl.name }} {% endfor %} {% endif %}
  {% if p.child_places %}
    <ul>{{ loop(p.child_places) }}</ul>
  {% endif %}</li>
{%- endfor %}
</ul>
{% endblock %}
