{% extends "layout.html" %}

{% block htmltitle %}UWHT: List all changes{% endblock %}

{% block sidedrawercontent %}
<ul>
<li><a class="mui-btn" href="/tourist/">Home</a></li>
<li><a class="mui-btn" href="/tourist/map">Map</a></li>
<li><a class="mui-btn" href="/tourist/about">About</a></li>
{% if current_user.can_view_comments -%}<li><a class="mui-btn" href="/tourist/comments">Comments</a></li>{% endif -%}
{% if current_user.is_authenticated -%}
    <li><a class="mui-btn" href="{{ url_for('github.logout', next=request.url) }}">Sign out</a></li>
{%  else %}
    <li><a class="mui-btn" href="{{ url_for('github.login', next=request.url) }}">Sign in</a></li>
{% endif -%}
</ul>
{% endblock %}

{% block headertitle %}List all changes{% endblock %}

{% block content %}

<ul>
{% for t in transactions %}
    <li>{{ t.issued_at.isoformat() }}
    <ul>{% for place_version in t.places %}
            <li><b>{{place_version.name}}</b>
                {{place_version.changeset}}</li>
        {% endfor %}
    </ul>
    <ul>{% for club_version in t.clubs %}
        <li><b>{{club_version.name}}</b>
            {{club_version.changeset}}</li>
        {% endfor %}
    </ul>
    <ul>{% for pool_version in t.pools %}
        <li><b>{{pool_version.name}}</b>
        {{pool_version.changeset}}</li>
        {% endfor %}
    </ul>
    </li>
{%- endfor %}
</ul>
{% endblock %}
